.slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }

  .slide img{
    height: 100%;
  }
  .topp-40{
    top: 40%;
  }

  .wheat{
    color: wheat;
  }
  .bg-wheat{
    background-color: wheat;
  }

.carousel button{
  display: none;
}
.modal {
  margin: 10% auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .carousel-slider{
  height: 100%;
}
@media (min-width: 1024px ) {
  .wrap {
    height: 90%; 
  }

}
@media screen and (max-width: 768px) {
  .top-section{
      height: 80vh;
  }
  .cover{
    height: 80vh;
  }
  .slide {
    height: 80vh;
  }
  .topp-40{
    top: 35%;
  }


}