.ReactModal__Overlay{
    z-index: 80;
}
.title p{
    letter-spacing: 5px;
}
.title h2{
    letter-spacing: 6px;
}

@media screen and (max-width: 768px) {
    .slider-wrapper{
        height: 95vh;
    }

}